<?xml version="1.0" encoding="utf-8" ?>
<root>
  <FeedbackControlSystem>
    <FeedbackControllers>
      <!-- CPU -->
      <Controller Name="CpuUsage" InitialInput="0" InitialLevel="Lowest">
        <FeedbackLevels>
          <Level name="0" Level="Level0" Value="10"  ValueDown="0"/>
          <Level name="1" Level="Level1" Value="20"  ValueDown="9"/>
          <Level name="2" Level="Level2" Value="30"  ValueDown="19"/>
          <Level name="3" Level="Level3" Value="40"  ValueDown="29"/>
          <Level name="4" Level="Level4" Value="50"  ValueDown="39"/>
          <Level name="5" Level="Level5" Value="60"  ValueDown="49"/>
          <Level name="6" Level="Level6" Value="70"  ValueDown="58"/>
          <Level name="7" Level="Level7" Value="80"  ValueDown="67"/>
          <Level name="8" Level="Level8" Value="95"  ValueDown="77"/>
          <Level name="9" Level="Level9" Value="110" ValueDown="77"/>
        </FeedbackLevels>
      </Controller>

      <!-- Bandwidth -->
      <!-- 10 / 30 / 40 / 80 / 100 MB -->
      <Contrller Name="Bandwidth" InitialInput="0" InitialLevel="Lowest">
        <FeedbackLevels>
          <Level name="0" Level="Level0" Value="10485760"  ValueDown="0" />
          <Level name="1" Level="Level1" Value="20971520"  ValueDown="10480000" />
          <Level name="2" Level="Level2" Value="31457280"  ValueDown="20968000" />
          <Level name="3" Level="Level3" Value="41943040"  ValueDown="31450000" />
          <Level name="4" Level="Level4" Value="52428800"  ValueDown="41940000" />
          <Level name="5" Level="Level5" Value="62914560"  ValueDown="52420000" />
          <Level name="6" Level="Level6" Value="73400320"  ValueDown="62910000" />
          <Level name="7" Level="Level7" Value="83886080"  ValueDown="73390000" />
          <Level name="8" Level="Level8" Value="94371840"  ValueDown="83880000" />
          <Level name="9" Level="Level9" Value="115343360" ValueDown="83880000" />
          <!-- Level1*11 -->
        </FeedbackLevels>
      </Contrller>
    </FeedbackControllers>
  </FeedbackControlSystem>
</root>