<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <Photon>
    <NameServer>
      <MasterServerPortUdp>{#PublicMasterServerPortUdp#}</MasterServerPortUdp>
      <MasterServerPortTcp>{#PublicMasterServerPortTcp#}</MasterServerPortTcp>
      <MasterServerPortWebSocket>{#PublicMasterServerPortWebSocket#}</MasterServerPortWebSocket>
      <MasterServerWsPath>{#MasterServerWsUrlPath#}</MasterServerWsPath>
      <MasterServerPortSecureWebSocket>{#PublicMasterServerPortSecureWebSocket#}</MasterServerPortSecureWebSocket>
      <NameServerConfig>Nameserver.json</NameServerConfig>
    </NameServer>

    <Authentication>
      <AuthTokenKey>{#AuthTokenKey#}</AuthTokenKey>
      <HMACTokenKey>{#HMACTokenKey#}</HMACTokenKey>

      <AuthTokenExpirationSeconds>1800</AuthTokenExpirationSeconds>

    </Authentication>

    <CustomAuth Enabled="true" AllowAnonymous="true">

      <!-- Custom Authentication Queue Settings -->
      <HttpQueueSettings>
        <MaxConcurrentRequests>50</MaxConcurrentRequests>
        <MaxQueuedRequests>5000</MaxQueuedRequests>
        <MaxErrorRequests>100</MaxErrorRequests>
        <MaxTimedOutRequests>10</MaxTimedOutRequests>
        <HttpRequestTimeout>30000</HttpRequestTimeout>
        <ReconnectInterval>60000</ReconnectInterval>
        <QueueTimeout>20000</QueueTimeout>
        <MaxBackoffTime>10000</MaxBackoffTime>
        <LimitHttpResponseMaxSize>{#NSCustomAuthLimitHttpResponseMaxSize#}</LimitHttpResponseMaxSize>
      </HttpQueueSettings>

      <UseCustomAuthService>false</UseCustomAuthService>

      <AuthProviders>
        <AuthProvider Name="Custom"
                      AuthenticationType="0"
                      AuthUrl="https://wt-e4c18d407aa73a40e4182aaf00a2a2eb-0.run.webtask.io/auth/auth-demo"
                      secret="customauthsecret" />

        <AuthProvider Name="Steam"
                      AuthenticationType="1"
                      AuthUrl=""
                      apiKeySecret="Val1"
                      appid="Val2"
                      verifyOwnership="true"
                      verifyVacBan="true"
                      verifyPubBan="true" />

        <AuthProvider Name="Facebook"
                      AuthenticationType="2"
                      AuthUrl=""
                      Secret="Val1"
                      AppId="Val2" />

        <AuthProvider Name="Oculus"
                      AuthenticationType="3"
                      AuthUrl=""
                      appsecret="Val1"
                      appid="Val2" />

        <AuthProvider Name="Viveport"
                      AuthenticationType="10"
                      AuthUrl=""
                      appsecret="Val1"
                      appid="Val2" />
      </AuthProviders>
    </CustomAuth>
  </Photon>

</configuration>
