<?xml version="1.0" encoding="utf-8"?>
<!--
  (c) 2015 by Exit Games GmbH, http://www.exitgames.com
  Photon server configuration file.
  For details see the photon-config.pdf.

  This file contains two configurations:

    "LoadBalancing"
        Loadbalanced setup for local development:
        Starts the apps: NameServer, Game, Master
        Listens: udp-port 5055-5056, 5058, 27000-27002, tcp-port: 4520, 4530-4531, 4533, 9090-9091, 9093, 843 and 943

-->

<Configuration>
  <!-- Multiple instances are supported. Each instance has its own node in the config file. -->

  <Instance 
    Name="LoadBalancing"
    MaxMessageSize="512000"
    MaxQueuedDataPerPeer="512000"
    PerPeerMaxReliableDataInTransit="51200"
    PerPeerTransmitRateLimitKBSec="256"
    PerPeerTransmitRatePeriodMilliseconds="200"
    MinimumTimeout="5000"
    MaximumTimeout="30000"
    DisplayName="LoadBalancing (Dev)">

    <!-- 0.0.0.0 opens listeners on all available IPs. Machines with multiple IPs should define the correct one here. -->
    <!-- Port 5055 is Photon's default for UDP connections. -->
    <UDPListeners>
      <UDPListener
        IPAddress="0.0.0.0"
        Port="5055"
        OverrideApplication="Master">
      </UDPListener>
      <UDPListener
        IPAddress="0.0.0.0"
        Port="27001"
        OverrideApplication="Master">
      </UDPListener>
      <UDPListener
        IPAddress="0.0.0.0"
        Port="5056"
        OverrideApplication="Game">
      </UDPListener>
      <UDPListener
        IPAddress="0.0.0.0"
        Port="27002"
        OverrideApplication="Game">
      </UDPListener>
      <UDPListener
        IPAddress="0.0.0.0"
        Port="5058"
        OverrideApplication="NameServer">
      </UDPListener>
      <UDPListener
        IPAddress="0.0.0.0"
        Port="27000"
        OverrideApplication="NameServer">
      </UDPListener>
    </UDPListeners>

    <!-- 0.0.0.0 opens listeners on all available IPs. Machines with multiple IPs should define the correct one here. -->
    <TCPListeners>
      <!-- TCP listener for Game clients on Master application -->
      <TCPListener
        IPAddress="0.0.0.0"
        Port="4530"
        OverrideApplication="Master"
        InactivityTimeout="10000"
        >
      </TCPListener>

      <TCPListener
        IPAddress="0.0.0.0"
        Port="4531"
        OverrideApplication="Game"
        InactivityTimeout="10000">
      </TCPListener>

     <TCPListener
        IPAddress="0.0.0.0"
        Port="4533"
        OverrideApplication="NameServer"
        InactivityTimeout="10000">
      </TCPListener>

      <!-- DON'T EDIT THIS. TCP listener for GameServers on Master application -->
      <TCPListener
        IPAddress="0.0.0.0"
        Port="4520">
      </TCPListener>
    </TCPListeners>

    <!-- Policy request listener for Unity and Flash (port 843) and Silverlight (port 943)
         multiple Listeners allowed for different ports -->
    <!-- PolicyFiles are now disabled by default and will be deprecated
         Uncomment to enable them back 
         also make sure to add PolicyFile="Policy\assets\socket-policy.xml"
         to the TCPListeners if needed -->
    <!--
    <PolicyFileListeners>
      <PolicyFileListener
      IPAddress="0.0.0.0"
      Port="843"
      PolicyFile="Policy\assets\socket-policy.xml">
      </PolicyFileListener>
      <PolicyFileListener
      IPAddress="0.0.0.0"
      Port="943"
      PolicyFile="Policy\assets\socket-policy-silverlight.xml">
      </PolicyFileListener>
    </PolicyFileListeners>
	  -->


    <!-- WebSocket (and Flash-Fallback) compatible listener -->

    <HTTPListeners>
      <HTTPListener
        Name="*:[PORT]::Master"
        IPAddress="0.0.0.0"
        Port="9090"
        DisableNagle="true"
        InactivityTimeout="10000">
        <Routing>
          <Route 
            Url="/+"
            OverrideApplication="Master"
            PeerType="WebSocket"
            Counters="false"
          />
        </Routing>
      </HTTPListener>

      <HTTPListener
        Name="*:[PORT]::Game"
        IPAddress="0.0.0.0"
        Port="9091"
        DisableNagle="true"
        InactivityTimeout="10000"
        AppDataInactivityTimeout="15000">
        <Routing>
          <Route 
            Url="/+"
            OverrideApplication="Game"
            PingEvery="2000" 
            PeerType="WebSocket"
            Counters="false"
          />
        </Routing>
      </HTTPListener>

      <HTTPListener
        Name="*:[PORT]::NameServer"
        IPAddress="0.0.0.0"
        Port="9093"
        DisableNagle="true"
        InactivityTimeout="10000"
        AppDataInactivityTimeout="15000">
        <Routing>
          <Route 
            Url="/+"
            OverrideApplication="NameServer"
            PeerType="WebSocket"
            Counters="false"
          />
        </Routing>
      </HTTPListener>

      <!--
      <HTTPListener
        Name="*:[PORT]"
        IPAddress="0.0.0.0"
        Port="80"
        DisableNagle="true"
        InactivityTimeout="10000"
        AppDataInactivityTimeout="15000">
        <Routing>
          <Route 
            Name="Master"
            Url="/master/+" 
            OverrideApplication="Master"
            PeerType="WebSocket"
            Counters="true"
            />
          <Route 
            Name="Game"
            Url="/game/+" 
            OverrideApplication="Game"
            PingEvery="2000" 
            PeerType="WebSocket"
            Counters="true"
          />
          <Route Url="/photon/m" Ping="true" Counters="false"/>
          <Route 
            Name="NameServer"
            Url="/+" 
            OverrideApplication="NameServer"
            PeerType="WebSocket"
            Counters="false"
          />
          <Route Url="/photon/n" Ping="true" Counters="false"/>
        </Routing>
      </HTTPListener>
      -->
      
      <!--<HTTPListener
        Name="*:[PORT]::Master"
        IPAddress="0.0.0.0"
        Port="19090"
        DisableNagle="true"
        InactivityTimeout="10000"
        Secure="true">
        <Routing>
          <Route 
            Url="/+" 
            OverrideApplication="Master"
            PeerType="WebSocket"
            Counters="false"
          />
        </Routing>
      </HTTPListener>

      <HTTPListener
        Name="*:[PORT]::Game"
        IPAddress="0.0.0.0"
        Port="19091"
        DisableNagle="true"
        InactivityTimeout="10000"
        AppDataInactivityTimeout="15000"
        Secure="true">
        <Routing>
          <Route 
            Url="/+" 
            OverrideApplication="Game"
            PingEvery="2000" 
            PeerType="WebSocket"
            Counters="false"
          />
        </Routing>
      </HTTPListener>

      <HTTPListener
        Name="*:[PORT]::NameServer"
        IPAddress="0.0.0.0"
        Port="19093"
        DisableNagle="true"
        InactivityTimeout="10000"
        AppDataInactivityTimeout="15000"
        Secure="true">
        <Routing>
          <Route 
            Url="/+" 
            OverrideApplication="NameServer"
            PeerType="WebSocket"
            Counters="false"
          />
        </Routing>
      </HTTPListener>-->
      
      <!--
      <HTTPListener
        Name="*:[PORT]"
        IPAddress="0.0.0.0"
        Port="443"
        DisableNagle="true"
        InactivityTimeout="10000"
        AppDataInactivityTimeout="15000"
        Secure="true">
        <Routing>
          <Route 
            Name="Master"
            Url="/master/+" 
            OverrideApplication="Master"
            PeerType="WebSocket"
            Counters="true"
            />
          <Route 
            Name="Game"
            Url="/game/+" 
            OverrideApplication="Game"
            PingEvery="2000" 
            PeerType="WebSocket"
            Counters="true"
          />
          <Route Url="/photon/m" Ping="true" Counters="false"/>
          <Route 
            Name="NameServer"
            Url="/+" 
            OverrideApplication="NameServer"
            PeerType="WebSocket"
            Counters="false"
          />
          <Route Url="/photon/n" Ping="true" Counters="false"/>
        </Routing>
      </HTTPListener>
      -->
    </HTTPListeners>

   
    <!-- Defines the Photon Runtime Assembly to use. -->
    <Runtime
      Assembly="PhotonHostRuntime, Culture=neutral"
      Type="PhotonHostRuntime.PhotonDomainManager"
      UnhandledExceptionPolicy="TerminateProcess">
    </Runtime>

    <!-- Defines which applications are loaded on start and which of them is used by default. Make sure the default application is defined. -->
    <!-- Application-folders must be located in the same folder as the bin_Win64 folders. The BaseDirectory must include a "bin" folder. -->
    <Applications Default="NameServer">
      <Application
        Name="Master"
        BaseDirectory="LoadBalancing\Master"
        Assembly="Photon.LoadBalancing"
        Type="Photon.LoadBalancing.MasterServer.MasterApplication">
      </Application>

      <Application
        Name="Game"
        BaseDirectory="LoadBalancing\GameServer"
        Assembly="Photon.LoadBalancing"
        Type="Photon.LoadBalancing.GameServer.GameApplication">
      </Application>

      <Application
        Name="NameServer"
        BaseDirectory="NameServer"
        Assembly="Photon.NameServer"
        Type="Photon.NameServer.PhotonApp">
      </Application>
    </Applications>
  </Instance>

</Configuration>
