<?xml version="1.0" encoding="utf-8" ?>

<root>
  <FeedbackControlSystem>
    
    <FeedbackControllers>

      <!-- CPU -->
      <Controller Name="CpuUsage" InitialInput="0" InitialLevel="Lowest">
        <FeedbackLevels>
          <Level name="0" Level="Level0" Value="10"  ValueDown="0"/>
          <Level name="1" Level="Level1" Value="20"  ValueDown="9"/>
          <Level name="2" Level="Level2" Value="30"  ValueDown="19"/>
          <Level name="3" Level="Level3" Value="40"  ValueDown="29"/>
          <Level name="4" Level="Level4" Value="50"  ValueDown="39"/>
          <Level name="5" Level="Level5" Value="60"  ValueDown="49"/>
          <Level name="6" Level="Level6" Value="70"  ValueDown="58"/>
          <Level name="7" Level="Level7" Value="80"  ValueDown="67"/>
          <Level name="8" Level="Level8" Value="90"  ValueDown="77"/>
          <Level name="9" Level="Level9" Value="110" ValueDown="77"/>
       </FeedbackLevels>
      </Controller>

      <!-- Bandwidth -->
      <Controller Name="Bandwidth" InitialInput="0" InitialLevel="Lowest">
        <FeedbackLevels>
          <!-- 1 / 4 / 8 / 10 MB -->
          <Level name="0" Level="Level0" Value="1048576" />
          <Level name="1" Level="Level1" Value="2097152"  ValueDown="1048576"/>
          <Level name="2" Level="Level2" Value="3145728"  ValueDown="2097152"/>
          <Level name="3" Level="Level3" Value="4194304"  ValueDown="3145728"/>
          <Level name="4" Level="Level4" Value="5242880"  ValueDown="4194304"/>
          <Level name="5" Level="Level5" Value="6291456"  ValueDown="5242880"/>
          <Level name="6" Level="Level6" Value="7340032"  ValueDown="6291456"/>
          <Level name="7" Level="Level7" Value="8388608"  ValueDown="7340032"/>
          <Level name="8" Level="Level8" Value="9437184"  ValueDown="8388608"/>
          <Level name="9" Level="Level9" Value="11485760" ValueDown="9437184"/>
        </FeedbackLevels>
      </Controller>
     
      
    </FeedbackControllers>
    
  </FeedbackControlSystem>
</root>