<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <Photon>

    <LoadBalancing>
      <EnablePerformanceCounters>True</EnablePerformanceCounters>
      <GCLatencyMode>Interactive</GCLatencyMode>
    </LoadBalancing>

    <Authentication>
      <AuthCacheUpdateInterval>300</AuthCacheUpdateInterval>
      <AuthTokenKey>76B2814E-2A50-4E29-838A-20411D335FC9</AuthTokenKey>
      <HMACTokenKey>DD6FD4DE-BF09-46A1-833E-ACDC22DD3FC7</HMACTokenKey>
      <AuthTokenExpirationSeconds>3600</AuthTokenExpirationSeconds>
    </Authentication>

    <GameServer>
      <!-- GameServer-to-Master connections. -->
      <S2S>
        <ConnectRetryInterval>15</ConnectRetryInterval>
        <!-- Set to the IP Address of the Photon instance where your Master application is running. -->
        <MasterIPAddress>127.0.0.1</MasterIPAddress>
        <OutgoingMasterServerPeerPort>4520</OutgoingMasterServerPeerPort>
      </S2S>

      <Master>
        <!-- LB stats - disabled, because vApps use their own app-stats-publishing-mechanism -->
        <AppStatsPublishInterval>1000</AppStatsPublishInterval>

        <GamingWsPath>{#GameServerWsUrlPath#}</GamingWsPath>
        <!-- Client-to-Gameserver Secure WebSocket connections. Needs to match the secure WebSocketListener in PhotonServer.config -->
        <GamingSecureWebSocketPort>19091</GamingSecureWebSocketPort>
        <!-- Client-to-Gameserver TCP connections. Needs to match the TCPListener in PhotonServer.config -->
        <GamingTcpPort>4531</GamingTcpPort>
        <!-- Client-to-Gameserver UDP connections. Needs to match the UDPListener in PhotonServer.config -->
        <GamingUdpPort>5056</GamingUdpPort>
        <!-- Client-to-Gameserver WebSocket connections. Needs to match the WebSocketListener in PhotonServer.config -->
        <GamingWebSocketPort>9091</GamingWebSocketPort>

        <PublicIPAddress>127.0.0.1</PublicIPAddress>
        <PublicIPAddressIPv6></PublicIPAddressIPv6>
        <!-- the hostname for this gameserver. Required for HTTP & websocket connections. Change it to a useful entry, like hostname.mydomain.com, for a production scenario. -->
        <PublicHostName>localhost</PublicHostName>
      </Master>

      <HttpQueueSettings>
        <MaxErrorRequests>30</MaxErrorRequests>
        <MaxTimedOutRequests>30</MaxTimedOutRequests>
        <HttpRequestTimeout>30000</HttpRequestTimeout>
        <MaxBackoffTime>10000</MaxBackoffTime>
        <MaxQueuedRequests>5000</MaxQueuedRequests>
        <QueueTimeout>90000</QueueTimeout>
        <ReconnectInterval>60000</ReconnectInterval>
        <MaxConcurrentRequests>1</MaxConcurrentRequests>
        <LimitHttpResponseMaxSize>{#GSHttpQueueLimitHttpResponseMaxSize#}</LimitHttpResponseMaxSize>
      </HttpQueueSettings>

      <Limits>
        <Inbound>
          <EventCache>
            <EventsCount>{#EventCacheEventsCountLimit#}</EventsCount>
            <SlicesCount>{#EventCacheSlicesCountLimit#}</SlicesCount>
            <ActorEventsCount>{#ActorEventCacheEventsCountLimit#}</ActorEventsCount>
          </EventCache>

          <Properties>
            <MaxPropertiesSizePerGame>{#GSLimitMaxPropertiesSizePerGame#}</MaxPropertiesSizePerGame>
          </Properties>
          <Operations>
          </Operations>
        </Inbound>
      </Limits>


      <EnableNamedPipe>False</EnableNamedPipe>

      <LastTouchSecondsDisconnect>0</LastTouchSecondsDisconnect>
      <MaxEmptyRoomTTL>60000</MaxEmptyRoomTTL>

      <ServerStateFile>ServerState.txt</ServerStateFile>
      <WorkloadConfigFile>Workload.1Gbps.config</WorkloadConfigFile>

    </GameServer>

    <!-- Enable WebRPCs by setting Enabled to "true" -->
    <!-- "BaseUrl" provided is for demo purposes only and must not be used in a live environment or load testing. Change this in production. -->
    <WebRpc Enabled="{#AllowPlugins#}">
      <HttpQueueSettings>
        <LimitHttpResponseMaxSize>{#GSWebRPCLimitHttpResponseMaxSize#}</LimitHttpResponseMaxSize>
      </HttpQueueSettings>
      <BaseUrl>{#PluginBaseUrl#}</BaseUrl>
    </WebRpc>
  </Photon>
</configuration>
