<root>
  <PluginSettings Enabled="{#AllowPlugins#}">
    <Plugins>
      <Plugin
            Name="{#PluginName#}"
            Version=""
            AssemblyName="{#PluginAssemblyName#}"
            Type="{#PluginType#}"
            BaseUrl="{#PluginBaseUrl#}"
            IsPersistent="true"
            AsyncJoin="False"
            HasErrorInfo="true"
            PathClose="GameClose"
            PathCreate="GameCreate"
            PathEvent="GameEvent"
            PathGameProperties="GameProperties"
            PathJoin="GameJoin"
            PathLeave="GameLeave"
            PathLoad="GameCreate" />
    </Plugins>
  </PluginSettings>
</root>