<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <Photon>
    <WebRpc Enabled="true" ReconnectInterval="100" BaseUrl="http://localhost:55557/webrpc">
        <ExtraParams>
          <Param1>value1</Param1>
          <Param2>value2</Param2>
          <Param3>value3</Param3>
        </ExtraParams>
    </WebRpc>
  </Photon>
</configuration>
