<?xml version="1.0" encoding="Windows-1252"?>
<!--
	(c) 2010 by Exit Games GmbH, http://www.exitgames.com
	Photon server configuration file.
	For details see the photon-config.pdf.

-->

<Configuration>	
	<NameServer>
	<ConfigServer
		  IPAddress="127.0.0.1"
		  Port="6061"
		  ListenBacklog="5">
		</ConfigServer>	
		<!-- 0.0.0.0 opens listeners on all available IPs. Machines with multiple IPs should define the correct one here. -->
		<!-- Port 5055 is Photon's default for UDP connections. -->
		<UDPListeners>
			<UDPListener
				IPAddress="0.0.0.0"
				Port="5058"
				OverrideApplication="NameServer"
				/>
		</UDPListeners>
		
		<!-- 0.0.0.0 opens listeners on all available IPs. Machines with multiple IPs should define the correct one here. -->		
		<TCPListeners>
			<!-- TCP listener for Channel clients on FrontEnd application -->
			<TCPListener
				IPAddress="0.0.0.0"
				Port="4533"
				OverrideApplication="NameServer"
				/>
			<TCPListener
			IPAddress="0.0.0.0"
			Port="4521"
			DisableNagle="true"
			InactivityTimeout="5000"
			OverrideApplication="NameServer"
			MaxPendingWrites="0"
			MaxQueuedBuffers="0"
			/>
      	</TCPListeners>
		
		<!-- Defines the Photon Runtime Assembly to use. -->
		<Runtime
			Assembly="PhotonHostRuntime, Culture=neutral"
			Type="PhotonHostRuntime.PhotonDomainManager"
			CLRVersion="v4.0"
			UnhandledExceptionPolicy="Ignore">
		</Runtime>

		<!-- Defines which applications are loaded on start and which of them is used by default. Make sure the default application is defined. -->
		<!-- Application-folders must be located in the same folder as the bin_win32 folders. The BaseDirectory must include a "bin" folder. -->
		<Applications Default="NameServer">
			<Application
				Name="NameServer"
				BaseDirectory="Photon.NameServer"
				Assembly="Photon.NameServer"
				Type="Photon.NameServer.PhotonApp"
				ApplicationRootDirectory="NameServer">
			  </Application>		   
		</Applications>
	</NameServer>
</Configuration>
